@charset "utf-8";

/*
$header-bg:                     #4D4A49;
$header-logo:                   #F3977B;
$content-01-bg:                 #F7D1C5;
$content-03-indicator-deactive: #FDB29A;
$body-text:                     #5A5E65;
$content-06-input:              #DADEE7;
$content-06-input-text:         #A5A5A7;
$footer-bg:                     #D5D2D0;
*/

html {
	overflow-y: scroll;
	font-size: 100%;
}

*, *::before, *::after { box-sizing: inherit; }

body { margin: 0; font-family: Arial; font-size: 1rem; line-height: 1.5; }

body.show-grid::before {
	content: "";
	background: url(../images/pattern-80-20.png);
	z-index: 10000;
	width: 940px;
	position: absolute;
	left: 50%;
	top: 0;
	height: 260vh;
	margin-left: -470px;
}

/* 공통 모듈 :: 시작 */

.wrapper {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* 공통 모듈 :: 끝 */

.page-header {
	background: #4d4a49;
	height: 120px;
}

.page-header * {
	margin-top: 0px;
}

.page-header a {
	text-decoration: none;
	color: #F3977B;
	display: block;
}

.page-header .brand {
	padding-top: 34px;
	float: left;
}

span {
	font-size: 1.5rem;
}

.fa-paint-brush {
	margin-right: 10px;
}

.page-gnb {
	float: right;
	margin-top: 35px;
	margin-right: -32px;
}

.page-gnb ul {
	margin-top: 0;
  	margin-bottom: 0;
  	padding-left: 0;
	list-style: none;
}

.page-gnb li {
	float: left;
}

.page-gnb a {
	color: #fff;
	line-height: 0.1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.125;
	padding: 1em 2em;
}

.page-gnb a:hover {
	color: #f3987b;
}

.page-gnb li.on a {
	cursor: default;
	color: #f3987b;
}

.content-01 {
	background: #F7D1C5;
	height: 408px;
}

.top-slider {
	padding-top: 136px;
	text-align: center;
}

.btn-set {
	/*padding: 1em;*/
}

.arrow-left {
	float: left;
	margin-left: 10px;
}

.arrow-right {
	float: right;
	margin-right: 10px;
}

.fa-photo {
	color: #fff;
	margin-top: 36px;
}